body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

hr.pme-hr {
    border: 0 solid;
    padding: 0;
    margin: 0;
    border-top-width: 1px;
    height: 1px;
}

table.pme-main {
    border: #004d9c 1px solid;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table.pme-navigation {
    border: #004d9c 0 solid;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td.pme-navigation-even, td.pme-navigation-odd {
    white-space: nowrap;
}

th.pme-header {
    border: #004d9c 1px solid;
    padding: 4px;
    background: #add8e6;
}

td.pme-key-odd, td.pme-value-odd, td.pme-key-even, td.pme-value-even, td.pme-sortinfo, td.pme-filter,
    td.pme-cell-even, td.pme-navigation-even, td.pme-cell-odd, td.pme-navigation-odd {
    border: #004d9c 1px solid;
    padding: 3px;
}

td.pme-buttons {
    text-align: left;
}

td.pme-message {
    text-align: center;
}

td.pme-stats {
    text-align: right;
}